header{
	position:sticky;
	background-color: gray;
	top:0;
	width:100%;
}
body {
	font-family: system-ui, sans-serif;
	display: grid;
	place-content: center;
	min-height: 100vh;
	margin: 0;
	text-align: center;
	background-image: linear-gradient(180deg, rgba(26, 26, 26, 0.4), rgba(0, 0, 0, 0.8)) ;
}
a {
	padding: 0.6rem 1.2rem;
	font-size: 1rem;
	border-radius: 8px;
	border: 0;
	background: #ec3750;
	color: white;
	cursor: pointer;
}
